[submodule "src/thirdparty/librealsense/librealsense"]
	path = src/thirdparty/librealsense/librealsense
	url  = https://github.com/honpong/librealsense.git
#       url  = git@github.com:honpong/librealsense.git
#[submodule "src/thirdparty/tracker"]
#	path = src/thirdparty/tracker
#       url  = https://github.com/honpong/tracker.git
#       url  = git@github.com:honpong/tracker.git
[submodule "src/thirdparty/exif"]
	path = src/thirdparty/exif
	url = https://github.com/honpong/exif.git
[submodule "src/thirdparty/exempi"]
	path = src/thirdparty/exempi
	url = https://github.com/honpong/exempi.git
[submodule "src/thirdparty/expat"]
	path = src/thirdparty/expat
	url = https://github.com/honpong/libexpat.git
[submodule "src/thirdparty/zlib"]
	path = src/thirdparty/zlib
	url = https://github.com/honpong/zlib.git
[submodule "src/thirdparty/apriltag"]
	path = src/thirdparty/apriltag
	url = https://github.com/honpong/AprilTag-Win.git
[submodule "src/thirdparty/apriltag3"]
	path = src/thirdparty/apriltag3
	url = https://github.com/honpong/apriltag.git
