shell/cor
*.pyc
*.dyLib
*.dSYM
.DS_Store

cor.py
corpp.py
tracker.py
filter.py
recognition.py
camera.py
mapper.py
numerics.py
calibration.py
renderable.py

cor/_cor.c
cor/_corpp.cpp
filter/_filter.c
filter/_filter.cpp
tracker/_tracker.c
vis/_vis.c
recognition/_recognition.cpp
drivers/_camera.c
calibration/_calibration.c
mapper/_mapper.cpp
numerics/_numerics.cpp
renderable/_renderable.cpp

cfg
log
slog
tracklog
solutionlog

*.so
*.[oad]
*.dpp
*~
.\#*
\#*\#

.*
!.gitignore

TAGS
