[submodule "src/thirdparty/librealsense/librealsense"]
	path = src/thirdparty/librealsense/librealsense
	url  = https://github.com/honpong/librealsense.git
#       url  = git@github.com:honpong/librealsense.git
#[submodule "src/thirdparty/tracker"]
#	path = src/thirdparty/tracker
#       url  = https://github.com/honpong/tracker.git
#       url  = git@github.com:honpong/tracker.git
[submodule "src/thirdparty/exif"]
	path = src/thirdparty/exif
	url = https://github.com/honpong/exif.git
[submodule "src/thirdparty/exempi"]
	path = src/thirdparty/exempi
	url = https://github.com/honpong/exempi.git
