Eagle Jones <eagle.jones@intel.com> <Eagle Jones eagle.jones@intel.com>
Eagle Jones <eagle.jones@intel.com> <eagle@ambrosia.local>
Eagle Jones <eagle.jones@intel.com> <eagle@event-10-1-236-13.venue.apple.com>
Eagle Jones <eagle.jones@intel.com> <eagle@intel_tablet>
Eagle Jones <eagle.jones@intel.com> <eagle@seurat-2.local>
Eagle Jones <eagle.jones@intel.com> <eagle@seurat-win>
Eagle Jones <eagle.jones@intel.com> <eagle@seurat.local>
Eagle Jones <eagle.jones@intel.com> <eagle@seurat>
Eagle Jones <eagle.jones@intel.com> <esjones@esjones-mac02.local>
Eagle Jones <eagle.jones@intel.com> <esjones@intel.com>
Eagle Jones <eagle.jones@intel.com> <esjones@begriffi-mobl.amr.corp.intel.com>
Eagle Jones <eagle.jones@intel.com> <esjones@esjones-mac01.local>
Eagle Jones <eagle.jones@intel.com> <esjones@esjones-mac01.sc.intel.com>
Eagle Jones <eagle.jones@intel.com> <esjones@mfahimal-mobl.amr.corp.intel.com>
Eagle Jones <eagle.jones@intel.com> <esjones@vsatyavo-mobl2.amr.corp.intel.com>
Eagle Jones <eagle.jones@intel.com> <eagle@intel_tablet>

<jordan.miller@intel.com> <Jordan@Jordans-MacBook-Air.local>
Jordan Miller <jordan.miller@intel.com> <jordan@realitycap.com>

Ben Hirashima <ben.hirashima@intel.com> Ben Hirashima <ben@realitycap.com>

Brian Fulkerson <brian.fulkerson@intel.com> <brian@realitycap.com>
<brian.fulkerson@intel.com> <bfulkerson@gmail.com>

<jim.radford@intel.com> <jim@realitycap.com>
<jim.radford@intel.com> <radford@blackbean.org>
<jim.radford@intel.com> <jim.radford@intel.com> 

<daniel.mirota@intel.com> <dmirota.mirota@intel.com>

# Corrects name spellings (in particular Last, First) by matching on e-mail address
Eagle Jones <eagle.jones@intel.com>
Brian Fulkerson <brian.fulkerson@intel.com>
Jordan Miller <jordan.miller@intel.com>
Jim Radford <jim.radford@intel.com>
Daniel Mirota <daniel.mirota@intel.com>
Doron Dag <doron.dag@intel.com>
Jacky Romano <jacky.romano@intel.com>
Eliran Zimmerman <eliran.zimmerman@intel.com>
Dorian Galvez Lopez <dorian.galvez.lopez@intel.com>
Gilad Baruch <gilad.baruch@intel.com>
Phillip Schmidt <phillip.schmidt@intel.com>
Sara Posen <sara.posen@intel.com>
Lina Paz <lina.paz@intel.com>
Pedro Pinies <pedro.pinies@intel.com>
Yehonatan Sela <yehonatan.sela@intel.com>
Myung Hwangbo <myung.hwangbo@intel.com>
Raizy Kellerman <raizy.kellerman@intel.com> 
Chuan Chen <chuan.chen@intel.com>
Fabini Bassale <fabini.bassale@intel.com>
