<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--verbose</key>
	<string>xcode</string>
	<key>--project-name</key>
	<string>TapeMeasure</string>
	<key>--project-company</key>
	<string>RealityCap</string>
	<key>--company-id</key>
	<string>com.realitycap</string>
	<key>--output</key>
	<string>~/appledoc</string>
</dict>
</plist>
